#
# Don't save log files, or the containing directory
#
/logs
#
# Files used for debugging
#
bin/hp
bin/pe
bin/we
#
# Files created by the process
#
www.gutenberg.org*
ISO
pgdvd072006.iso
ISOFiles
TextData
TextJunk
Library.JSON
